<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="container">
  <ul class="nav nav-tabs">
   <li role="presentation" class="active"><%= link_to "Home", welcome_home_path %></li>
   <li role="presentation"><%= link_to "Applications", apps_path %></li>
  <% if user_signed_in? %>
    | Signed in as: <strong><%= current_user.email %></strong> |
   <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
   <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
 <% else %>
   <li role="presentation"><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
   <li role="presentation"><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %></li>
 <% end %>
 </ul>
</div>
</head>
<body>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
